
<div class="container">

  <div class="second-container" >
    <div class="spacer sm"></div>


    <div class="flex_block column px-4">
      <!--        Disclaimer-->
      <h1 style="margin: 0">{{'ts_title' |translate}}</h1>
      <p>{{'ts_text1' |translate}}</p>
      <p style="text-transform: uppercase">{{'ts_text2' |translate}}</p>

      <!--        Changes and privacy policy Section1-->
      <div class="content-container">
        <app-title-bar
          [title]="'ts_sec_1_title' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'ts_sec_1_text' |translate}}</p>
        </div>
      </div>

      <!--        User License Section2-->
<!--      <h1>{{'ts_title' | translate}}</h1>-->
      <div class="content-container">
        <app-title-bar
          [title]="'ts_sub_title_1' | translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'ts_sub_text_1' | translate}}</p>
        </div>
      </div>

      <div class="content-container">

        <app-title-bar
          [title]="'ts_sub_title_2' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p> {{'ts_sub_text_2' |translate}}</p>
        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'ts_sub_title_3'  |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <li>{{'ts_sub_text_3_1' | translate}}</li>
          <li>{{'ts_sub_text_3_2' |translate}}</li>
          <li>{{'ts_sub_text_3_3' |translate}}</li>
          <li>{{'ts_sub_text_3_4' |translate}}</li>
          <li>{{'ts_sub_text_3_5' |translate}}</li>
          <li>{{'ts_sub_text_3_6' |translate}}</li>
          <li>{{'ts_sub_text_3_7' |translate}}</li>
          <li>{{'ts_sub_text_3_8' |translate}}</li>
          <li>{{'ts_sub_text_3_9' |translate}}</li>
          <li>{{'ts_sub_text_3_10' |translate}}</li>
          <li>{{'ts_sub_text_3_11' |translate}}</li>
          <li>{{'ts_sub_text_3_12' |translate}}</li>
          <p>{{'ts_sub_text_3_desclaimer' |translate}}</p>
        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'User_Generation_title' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'User_Generation_Desc' |translate}}</p>
          <li>{{'User_Generation_text_1' |translate}}</li>
          <li>{{'User_Generation_text_2' |translate}}</li>
          <li>{{'User_Generation_text_3' |translate}}</li>
          <li>{{'User_Generation_text_4' |translate}}</li>
          <li>{{'User_Generation_text_5' |translate}}</li>
          <li>{{'User_Generation_text_6' |translate}}</li>
          <li>{{'User_Generation_text_7' |translate}}</li>
          <li>{{'User_Generation_text_8' |translate}}</li>
          <li>{{'User_Generation_text_9' |translate}}</li>
          <li>{{'User_Generation_text_10' |translate}}</li>
          <li>{{'User_Generation_text_11' |translate}}</li>
          <li>{{'User_Generation_text_12' |translate}}</li>
          <li>{{'User_Generation_text_13' |translate}}</li>
          <li>{{'User_Generation_text_14' |translate}}</li>

          <p>{{'User_Generation_text_1_1' |translate}}</p>
        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'User_Generation_title_2' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'User_Generation_text_2_1' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Links_To_Other_title' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Links_To_Other_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Copyrights_Trademarks_title' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Copyrights_Trademarks_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Users' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Users_Desc' |translate}}</p>


        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Organizers' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Organizers_Desc' |translate}}</p>
          <p><span class="sub-tit">{{'Organizers_Advertising' |translate}}</span>:{{'Organizers_Advertising_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Guaranteed_Prizes' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Guaranteed_Prizes_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Disclaimer_warranties' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Disclaimer_warranties_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Corrections' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Corrections_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Governing_Law' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Governing_Law_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Corrections' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Corrections_Desc' |translate}}</p>

        </div>
      </div>
      <div class="content-container">
        <app-title-bar
          [title]="'Violation_Of_terms' |translate"
          [svg]="'medal'"
        ></app-title-bar>
        <div class="inner-content">
          <p>{{'Violation_Of_terms_Desc' |translate}}</p>

        </div>
      </div>     <div class="content-container">
      <app-title-bar
        [title]="'Contact_Us' |translate"
        [svg]="'medal'"
      ></app-title-bar>
      <div class="inner-content">
        <p>{{'Contact_Us_Desc' |translate}}</p>
        <p>GBarena</p>
        <p> 141, Giza Governorate 12588, Egypt</p>
        <p>Email: mail&#64;gbarena.com</p>
      </div>
    </div>

    </div>

  </div>

</div>
