@import '../../styles/core/variables';
@import "src/app/styles/functions";

.notify-container {
  max-width: 600px;
  margin: 20px auto;
  h5{
    cursor: pointer;
    text-align: right;
    margin: 10px 0;
  }
.notification-scope{
  background-color: #341671;
  border-radius: 8px;
}
}
.profile-badge{
  flex: 1!important;
}
.ant-radio-button-wrapper{
  color: $white!important;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  background-color: transparent!important;
  border: unset!important;
  border-bottom: 1px solid white!important;
  flex: 1;
}
.ant-radio-button-wrapper-checked{
  border-bottom: 3px solid $purple!important;

}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within{
  box-shadow: unset!important;
}
.ant-radio-button-wrapper:not(:first-child)::before{
  display: none!important;;
}


//::ng-deep {
//  .ant-badge-count {
//    @include dynamic-equal-dimensions(22);
//    @include dynamic-m-v-property(padding, 0, 6);
//    @include dynamic-font(10);
//    @include dynamic-s-v-property(line-height, 20);
//    @include dynamic-m-v-property(border-radius, 100);
//    @include dynamic-m-v-property(box-shadow, 0, 0, 0, 3);
//    justify-content: center;
//    display: flex;
//    align-items: center;
//    color: $gb-main-darker;
//
//    .ant-scroll-number-only {
//      @include dynamic-dimensions(height, 20);
//
//      p {
//        &.ant-scroll-number-only-unit {
//          @include dynamic-dimensions(height, 20);
//          @include dynamic-font(12);
//          color:$white;
//        }
//      }
//
//    }
//  }
//}
