<nz-page-header [nzGhost]="false" class="mb-5">
<!--  <nz-page-header-subtitle class="d-flex justify-content-between gap-10">-->
<!--    <span nz-icon nzType="zoom-in" nzTheme="outline" (click)="toggleFullscreen()"></span>-->
<!--    <span nz-icon nzType="zoom-in" nzTheme="outline"></span>-->
<!--    <span nz-icon nzType="zoom-in" nzTheme="outline"></span>-->
<!--    <span nz-icon nzType="zoom-in" nzTheme="outline"></span>-->
<!--  </nz-page-header-subtitle>-->
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="publishBracket()">Publish bracket</button>
    <button nz-button nzType="primary" (click)="shuffleBracket()">Shuffle bracket</button>
  </nz-page-header-extra>
</nz-page-header>
