@import 'src/app/components/mixins.scss';

/////////////////////////////////////////////////////////////////////////////////////////
/*  "CORE" STYLES */
//Tajawal
@font-face {
  font-family: 'Tajawal';
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Light.eot');
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Light.eot?#iefix') format('embedded-opentype'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Light.woff2') format('woff2'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Bold.eot');
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Bold.woff2') format('woff2'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Tajawal';
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Regular.eot');
  src: url('../../../../../assets/fonts/tajawal/Tajawal-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Regular.woff2') format('woff2'),
  url('../../../../../assets/fonts/tajawal/Tajawal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --kit-color-primary: #00A3FD;
  --kit-font-family: "Roboto", 'Tajawal', sans-serif;
}

html {
  font-size: 15px;
  @media (max-width: $sm-max-width) {
    font-size: 14px;
  }
}

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: $base-font-family;
  color: $black;
  overflow-x: hidden;
  position: relative;
  font-variant: normal;
  font-feature-settings: normal;
}

a {
  text-decoration: none;
  color: $text;
  @include transition-color();

  &:hover,
  &:active,
  &:focus {
    color: $blue;
    text-decoration: none;
  }
}

input {
  outline: none !important;
  font-family: $base-font-family;
  color: $text;
}

button,
input {
  box-shadow: none !important;
  outline: none !important;
}

input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  appearance: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

svg {
  vertical-align: initial;
  overflow: auto;
}

.badge-example {
  font-size: rem(14);
  text-transform: uppercase;
  margin-bottom: rem(15);
  background: $gray-2;
  color: $black;
  display: inline-block;
  padding: rem(3) rem(6);
  border-radius: 4px;
}

// dark theme
[data-kit-theme='dark'] {
  body {
    background: $gb-sec-bg;
    color: $dark-gray-1;

    .badge-example {
      background: $gb-main-bg;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-gray-1;
  }

  a {
    color: $dark-gray-1;

    &:hover,
    &:active,
    &:focus {
      color: $blue;
      text-decoration: none;
    }
  }
}

.ant-page-header {
  padding: 16px 0px !important;
}

.inner-content {
  background-color: $gb-main-bg;
  padding: 20px;
  border-radius: 10px;
}

.ant-divider-horizontal {
  border-top-color: #ffffff3b !important;
}

.gap-2 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}


.row-gap-2 {
  row-gap: 5px;
}

.row-gap-10 {
  row-gap: 10px;
}

.row-gap-15 {
  row-gap: 15px;
}

.row-gap-20 {
  row-gap: 20px;
}

.ant-notification-notice {
  //background: #2b952b !important;
  color: white !important;
  border-radius: 10px !important
}

.errorNotify {
  background: #AE2D68 !important;
}

.successNotify {
  background-color: green !important;
}

.ant-steps-item-title {
  //color: white !important;
  font-size: 16px !important;
  font-weight: 500;
  color: white;

}

.ant-steps-item-description {
  //color: white !important;
  font-size: 13px !important;

}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: white !important;

}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: $white !important;

}


.ant-steps-item-content {
  max-width: 700px !important;
  padding-bottom: 30px !important;

}

.close {
  position: absolute;
  top: 5px;
  right: 0px;
  border: none;
  background-color: transparent;
  z-index: 10;

  &.close-rewards {
    top: unset;
    bottom: 15px;
  }
}

.prize-container {
  position: relative;
}

@media (min-width: 1650px) {
  .container {
    max-width: 1500px;
  }
}


.ant-typography.ant-typography-secondary {
  color: rgb(255 251 251 / 45%) !important;
}


.ck.ck-editor__editable_inline {
  background: $dark-gray-7 !important;
  min-height: 200px;
}

.new_button {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  color: #ff4d4f !important;
}


.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: $white !important;

}

.rtl {
  direction: rtl;
  text-align: right !important;
  font-family: Tajawal !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #00cb7a !important;
  width: 3px !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
  background-color: #fff !important;
  width: 1px !important;
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description {
  color: $white !important;
}

.ant-steps-item-disabled {
  opacity: 0.7 !important;
  pointer-events: none;
  cursor: not-allowed !important;

}

.ant-menu-title-content {
  display: none;
}
