<div class="row">
  <div class="col-lg-2 ">
    <div class="second-container p-2 py-3" *ngIf="webView ; else mobView">
      <h5>{{'common.settings' | translate}}</h5>
      <div class="d-flex flex-column ">
        <div class="tab-block" *ngFor="let tab of settingsTabs" routerLink="{{tab.route}}" routerLinkActive="active">
          <p>{{tab.name | translate}}</p>
        </div>

      </div>
    </div>
    <ng-template #mobView>
      <nz-tabset nzLinkRouter nzType="card">
        <nz-tab *ngFor="let tab of settingsTabs; let i = index" [nzClosable]="i > 1">
          <a *nzTabLink nz-tab-link routerLink="{{tab.route}}">
            {{ tab.name | translate}}
          </a>
        </nz-tab>
      </nz-tabset>

    </ng-template>
  </div>
  <div class="col-lg-10 col-12">
    <div class=" second-container p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
