@import "src/app/styles/core/variables";

.tab-content::-webkit-scrollbar {
    width: 1em;
    background: #264a6b;
}

.tab-content::-webkit-scrollbar-track {
    background: #264a6b;
}

.tab-content::-webkit-scrollbar-thumb {
    background: #abd03b;
    outline: 1px solid slategrey;
}

perfect-scrollbar {
  @include dynamic-m-v-property(padding, 10, 0);
}
/************************  Tournamnets tab-content Scrollbar *********************/

::-webkit-scrollbar {
    width: 8px;
    background: transparent ;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: transparent ;
}

::-webkit-scrollbar-thumb {
    background: $gb-primary-color;
    outline: 1px solid $gb-main-bg;
}



/******************* Material Dialog Scrollbar ********************/

.mat-dialog-container::-webkit-scrollbar {
    background: #0c1822;
    width: 3px;
}

.mat-dialog-container::-webkit-scrollbar-track {
    background: transparent;
    width: 20px;
}

.mat-dialog-container::-webkit-scrollbar-thumb {
    background: #abd03b;
    outline: 1px solid slategrey;
}

/******************** Mat Expanssion Scrollbar Design *******************/

.mat-expansion-panel-body::-webkit-scrollbar {
    display: none;
}

/******************** perfect Scrollbar Design *******************/
.ps {
  display: flex !important;
}
perfect-scrollbar > .ps.ps--scrolling-y > .ps__rail-y,
perfect-scrollbar > .ps.ps--scrolling-x > .ps__rail-x {
    opacity: 0.9;  background-color: transparent !important;
}

perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover,
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
    width: 15px;  background-color: transparent !important;
}

/*Perfect scrollbar indicator*/
perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-bottom) .ps-indicator-bottom{  background: rgb(2,0,36) !important;
    background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, var(--gb-main) 79%) !important;     min-height: 50px;  }

perfect-scrollbar.ps-show-active > .ps.ps--active-y > .ps-overlay:not(.ps-at-top) .ps-indicator-top {background: rgb(2,0,36) !important;
    background: linear-gradient(0deg, rgba(2, 0, 36, 0) 0%,  var(--gb-main) 79%) !important;     min-height: 50px;  }

perfect-scrollbar.ps-show-active > .ps.ps--active-x > .ps-overlay:not(.ps-at-right) .ps-indicator-right {background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%,  var(--gb-main) 79%) !important;}

perfect-scrollbar.ps-show-active > .ps.ps--active-x > .ps-overlay:not(.ps-at-left) .ps-indicator-left {background: rgb(2,0,36) !important;
    background: linear-gradient(270deg, rgba(2, 0, 36, 0) 0%,  var(--gb-main) 79%) !important;}

.ps-content {
  flex:1;
}
//body::-webkit-scrollbar {
//  width: 0.3em;
//}
//
//body::-webkit-scrollbar-track {
//  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//}
//
//body::-webkit-scrollbar-thumb {
//  background-color: darkgrey;
//  outline: 1px solid slategrey;
//}
