<div class="background-container"></div>
<div class="p-4 gap-20 d-flex flex-column align-items-center justify-content-center text-center">
  <p>In order to claim score you need to write challenge code</p>
  <input class="ant-input mid-height" [(ngModel)]="challengePassword" placeholder="Enter Challenge Code" type="password" autocomplete="new-password">
  <app-button class="my-5 " variant="two-tone-primary wide-width" (click)="confirmChallengeCode()" [disabled]="!challengePassword">{{'confirm'|translate}}</app-button>

</div>
