@import '../../../styles/core/variables';
input , textarea ,.ant-picker , {
  background-color: $gb-blue!important;
}
::ng-deep{
  .ant-select-selector{
    background-color: $gb-blue!important;
  }
  .phonenumber{
    .iti input{
      background-color: $gb-blue!important;
      height: 40px;
      width: 100%;
    }
  }
  .ant-form-item{
    margin-bottom: 10px!important;
  }

  .ant-form-item-label > label::after {
    display: none;
  }
}
textarea{
  height: 40px;
  border: none;
}

nz-form-control{
  width: 100%;
}
.arrow-icon{
  margin-right: 5px;
  width: 20px;
  cursor: pointer
}
