::ng-deep .ant-spin-nested-loading > div > .ant-spin {
  max-height: unset !important;
  background-color: rgba(12, 7, 74, 0.5);

}


.drop_button {
  position: absolute;
  bottom: 43%;
  left: 21%
}

