
<div class="rules-container">
 <h3>Tournaments Rules</h3>
  <ul>
    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore, sed diam nonumy eirmod tempor invidunt ut labore et dolore</li>
    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore, sed diam nonumy eirmod tempor invidunt ut labore et dolore</li>
    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore, sed diam nonumy eirmod tempor invidunt ut labore et dolore</li>
    <li>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore, sed diam nonumy eirmod tempor invidunt ut labore et dolore</li>
  </ul>
</div>
