@import 'src/app/styles/core/variables';
.league-container{
  max-height: 250px;
  //overflow-y: scroll;
}
.lol-account-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gb-sec-bg;
  margin: 10px 0;
  border-radius: 8px;
  padding: 10px;
  img{
    width: 55px;
  }
  span{
    color: $gb-thirdly-color;
  }
}
.game-icon{
  margin: 0 5px;
  width: 40px!important;
}
