@import 'src/app/styles/core/variables';
@import "src/app/shared/components/radio-buttons-filters/radio-buttons-filters.component.scss";
.banner-container{
  border-radius: 8px;
  width: 100%;
  object-fit: fill;
  }
