
<div class="p-5">
  <h3 class="text-center"> Verify Password </h3>
  <div class="d-flex flex-column gap-2">

  <nz-form-item>
  <nz-form-label>Password</nz-form-label>
  <input nz-input type="password" autocomplete="new-password" [(ngModel)]="password"  [placeholder]="'Enter password here ... '"/>
</nz-form-item>
  </div>
  <app-button class="d-flex justify-content-center  mx-auto mt-3" style="width: fit-content" variant="primary fit-content" [disabled]="password.length <  4" (click)="submitPassword()">Submit</app-button>

</div>
