<ng-container *ngIf="!(getMyTeamsIsExecuting$ | async) ; else loadingIndicator">
  <ng-container *ngIf="(myTeams$ | async).length > 0 ; else noTeams">
    <app-button variant="two-tone-primary fit-content " class="d-flex justify-content-end my-3"
                routerLink="/teams/create">
      {{'gamer.createTeam' | translate}}</app-button>

    <div class="row">
      <app-participant-card class="col-lg-3 my-2" *ngFor="let team of myTeams$ | async"
                            [reference_number]="team.reference_number" [country]="team.country"
                            [cover]="team.cover" [profile]="team.avatar" [name]="team.name" [isTeam]="true">
        <ng-container ngProjectAs="tournament-buttons">
          <app-button class="flex-grow-1" variant="primary full-width"
                      routerLink="/teams/{{team.id}}">{{'common.teamProfile' | translate}}</app-button>
        </ng-container>
      </app-participant-card>
    </div>
    <!--  <nz-pagination *ngIf="(myTeams$ | async).length > 20" [nzPageIndex]="3" [nzTotal]="50"></nz-pagination>-->
  </ng-container>

  <ng-template #noTeams>
    <div class="second-container p-5">
      <div class="d-flex flex-column align-items-center m-auto gap-10">
        <h2>{{'common.messages.noTeams' | translate}}</h2>
        <p>{{'common.messages.teamMessage' | translate}}</p>
        <app-button variant="two-tone-primary fit-content " class="mt-3"
                    routerLink="/teams/create">{{'gamer.createTeam' | translate}}</app-button>
      </div>

    </div>
  </ng-template>
</ng-container>
<ng-template #loadingIndicator>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
