<div [ngClass]="{
  'cui__layout__grayBackground': isGrayBackground ,
  'rtl' : lang == 'ar-EG'
}">
  <nz-layout [ngClass]="{
  'cui__layout__contentMaxWidth': isContentMaxWidth,
  'cui__layout__appMaxWidth': isAppMaxWidth,
  'cui__layout__grayBackground': isGrayBackground,
  'cui__layout__squaredBorders': isSquaredBorders,
  'cui__layout__cardsShadow': isCardShadow,
  'cui__layout__borderless': isBorderless
}">
    <!--    <cui-sidebar></cui-sidebar>-->

    <!-- left menu -->
    <!-- FIX: nz-sider wrapper fix layout behaviour in case when cui-menu-left root tag breaks layout transformation -->

    <!-- mobile menu with drawer -->
    <!--    <cui-sidebar></cui-sidebar>-->

<!--    <nz-sider *ngIf="!isMobileView" [nzWidth]="isMenuCollapsed ? 80 : leftMenuWidth" style="transition: none !important">-->
<!--      <cui-menu-left></cui-menu-left>-->
<!--    </nz-sider>-->
    <div *ngIf="isMobileView">
<!--      <div class="handler" (click)="toggleMobileMenu()">-->
<!--        <div class="handlerIcon"></div>-->
<!--      </div>-->
      <nz-drawer [nzClosable]="true" [nzWrapClassName]="'mobileMenu'" [nzVisible]="isMobileMenuOpen"
                 [nzPlacement]="'right'"
                 (nzOnClose)="toggleMobileMenu()">
        <ng-container *nzDrawerContent>
          <cui-menu-left></cui-menu-left>

        </ng-container>
      </nz-drawer>
    </div>

    <!-- top menu -->
    <nz-layout>
      <nz-header [ngClass]="{
        'cui__layout__header': true,
        'cui__layout__fixedHeader': isTopbarFixed,
        'cui__layout__headerGray': isGrayTopbar
      }">
        <cui-topbar></cui-topbar>
      </nz-header>
      <nz-content style="height: 100%; position: relative;" *ngIf="(isLoggedIn|async)">
        <div class="cui__utils__content" >
            <ng-container>
              <router-outlet #outlet="outlet"></router-outlet>
            </ng-container>
        </div>
      </nz-content>
      <nz-footer>
        <cui-footer></cui-footer>
      </nz-footer>
    </nz-layout>

  </nz-layout>
</div>

