<nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'" class="team-view-collapse">
  <ng-container *ngFor="let  member of data; let isFirst = first">
    <nz-collapse-panel [nzDisabled]="member?.supported_required_inputs?.length < 1"
                       [nzShowArrow]="member?.supported_required_inputs?.length > 0"
                       [nzHeader]="headerCollapse"
                       [nzExtra]="description"
                       [nzActive]="member.active">

      <div class="row">
        <div class="col-6" *ngFor="let req of member?.supported_required_inputs">
          <p><b>{{req.placeholder}}:</b> {{req.value}}</p>
        </div>
      </div>
    </nz-collapse-panel>
    <ng-template #headerCollapse>
      <nz-list nzItemLayout="horizontal">
        <nz-list-item *ngIf="componentName === 'match-list'">
          <nz-list-item-meta style="color: #fff!important"
                             nzAvatar="{{member?.avatar}}"
                             [nzDescription]="teamDescription">
            <nz-list-item-meta-title>

            </nz-list-item-meta-title>

            <ng-template #teamDescription>
              <div class="d-flex gap-2">
                {{member?.username}}
                <nz-avatar [nz-tooltip]="member?.country" [nzSize]="'default'" class="country me-2"
                           [nzSrc]="member?.country  | countryImage"></nz-avatar>
                <div class="leader mx-2" *ngIf="member?.original?.username === leader?.username">
                  leader
                </div>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item *ngIf="componentName === 'participants'">
          <nz-list-item-meta style="color: #fff!important"
                             nzAvatar="{{member?.original?.avatar}}"
                             [nzDescription]="teamDescription">
            <nz-list-item-meta-title>
              <nz-avatar [nz-tooltip]="member?.original?.country" [nzSize]="'default'" class="country me-2"
                         [nzSrc]="member?.original?.country  | countryImage"></nz-avatar>

              <!--              <p class="m-0">{{ member?.original?.country}}</p>-->
            </nz-list-item-meta-title>
            <ng-template #teamDescription>
              <div class="d-flex">
                {{member?.original?.username}}
                <div class="leader mx-2" *ngIf="member.original?.username === leader?.username">
                  leader
                </div>
              </div>
            </ng-template>
          </nz-list-item-meta>
        </nz-list-item>
        <!--        <nz-list-empty *ngIf="data.length === 0"></nz-list-empty>-->
      </nz-list>

    </ng-template>
    <ng-template #description>

      <div class="d-flex flex-row justify-content-between align-items-center">
      <div class="required-account" *ngIf="tournament?.connected_accounts_required &&
member?.required_accounts[0]?.publisher_account; else noConnectedAccount">

        <div>
          <img *ngIf="member?.required_accounts[0]?.publisher_account?.rank?.image !== 'unranked'"
               [nz-tooltip]="member?.required_accounts[0]?.publisher_account?.rank?.name"
               class="image-container" src="{{member?.required_accounts[0]?.publisher_account?.rank?.image}}"
               alt="">
          <p *ngIf="member?.required_accounts[0]?.publisher_account?.rank?.image === 'unranked'">{{member?.required_accounts[0]?.publisher_account?.rank?.image | uppercase}}</p>

        </div>

        <div class="id">
          {{member?.required_accounts[0]?.publisher_account?.game_username}}
        </div>

        <img width="15" src="assets/svg-icons/ok-icon-green.svg" alt="">

      </div>

        <ng-template #noConnectedAccount>
          <p style="margin:0; font-size: 12px; color:gray;">"No Connected Account"</p>
        </ng-template>

      <div class="d-flex flex-row align-items-center" style="margin-left:auto; gap:10px;">
      <p class="m-0">IP </p>
      <nz-avatar
        [nz-tooltip]="componentName === 'participants' ? member?.original?.ip_conflict_country : member?.ip_conflict_country "
        [nzSize]="'default'" class="country me-2"
        [nzSrc]="componentName === 'participants' ? (member?.original?.ip_conflict_country | countryImage) : member?.ip_conflict_country  | countryImage"></nz-avatar>
<!--      <p class="text-white">{{member?.original?.ip_conflict_country}}</p>-->

      </div>
      </div>

    </ng-template>

  </ng-container>
</nz-collapse>
