@import '../../../../styles/core/variables';
input , textarea ,.ant-picker, .ant-select{
  background-color: $gb-blue!important;
}
textarea{
  height: 80px;
}
::ng-deep{
  .ant-select-selector{
    background-color: $gb-blue!important;
  }
  .phonenumber{
    .iti input{
      background-color: $gb-blue!important;
      height: 50px;
    }
  }

}

.premium-text{
  img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  span {
    opacity: 0.7;
  }

}
.ant-form-vertical .ant-form-item-label{
  text-align: unset;
}
