
<div class="footer-container">
  <div class="container footer-content">

    <p>All rights reserved, GBarena 2024.</p>

     <ul>
       <li routerLink="/privacy"> <p>{{'common.privacy' | translate}}</p></li>
       <li routerLink="/terms-conditions"><p>{{'common.termsConditions' | translate}}</p></li>
     </ul>

    <ul>
      <li class="social">
        <a href="https://facebook.com/gbarena" target="_blank">
        <img src="../../../assets/svg-icons/facebook.svg">
      </a>
      </li>
      <li class="social"><a href="https://instagram.com/gbarenaofficial" target="_blank">
        <img src="../../../assets/svg-icons/instagram.svg" alt="instagram-icon">

      </a>
      </li>
      <li class="social"><a href="https://linkedin.com/company/gbarena" target="_blank">
        <img src="assets/svg-icons/linkedin-white.svg" alt="linkedin-icon">
      </a>
      </li>


      <li class="social">
        <a href="https://discord.com/invite/PHTn94cgyP" target="_blank">
          <img src="assets/svg-icons/discord-white-icon.svg" alt="discord-icon">
        </a>
      </li>


    </ul>
  </div>
</div>
