
<div class="p-5">
  <div class="text-center">
  <h2>Confirm Username</h2>
  <h4 class="my-3 center">Kindly verify your current GBarena username</h4>
  </div>
  <nz-form-item class="my-2">
<!--  <nz-form-label>{{'GBarena username' | translate}}</nz-form-label>-->
  <input class="" [(ngModel)]="username" nz-input [placeholder]="'Username here ... '"/>
    <span class="reference-number">#{{referenceNumber}}</span>
  </nz-form-item>
<!--  <p>Only Prime members can edit their reference number, upgrade to have best experience on the platform, <span routerLink="/premium">Become Premium</span></p>-->
  <p class="text-green">You can only change your username once every 6 months</p>

  <div class=" mt-5 d-flex gap-4">
    <app-button variant="white " class="flex-grow-1" (click)="closeModal()">Not now</app-button>
    <app-button variant="two-tone-primary" class="flex-grow-1" (click)="updateUsername()">Save</app-button>

  </div>
</div>
