.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  //text-overflow: ellipsis;
  width: 90%;
}

.marquee {
  animation: marquee 3s linear infinite;
  animation-direction: alternate;
  text-overflow: unset;
  width: unset !important;
  padding-left: 6px;
  padding-right: 6px;

}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
