@import "../../../teams/create-update-team/create-update-team.component";
textarea{
  height: 80px;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.ant-divider-horizontal {
  margin:10px 0;
}
