<div class="row row-gap-2">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question1' | translate}}
      </div>
      <div
        class="answer">
        {{'faq.answer1' | translate}}      </div>
    </div>

  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question2' | translate}}
      </div>
      <div
        class="answer"

      >
        {{'faq.answer2' | translate}}      </div>
    </div>


  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question3' | translate}}
      </div>
      <div
        class="answer"
      >
        {{'faq.answer3' | translate}}      </div>
    </div>


  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question4' | translate}}
      </div>
      <div
        class="answer"
      >
        {{'faq.answer4' | translate}}      </div>
    </div>


  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question5' | translate}}
      </div>
      <div class="answer">
        {{'faq.answer5' | translate}}     </div>
    </div>


  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <div class="faq">
      <div class="question">{{'faq.question6' | translate}}
      </div>
      <div class="answer">
        {{'faq.answer6' | translate}}      </div>
    </div>
  </div>
</div>

