.card-details {
  h5 {
    max-width: 70%;
  }
}

.featured {
  border: 2px solid #FFB133;
}

.featured-footer {
  background: transparent linear-gradient(270deg, #D13639 0%, #FFB133 100%) 0% 0% no-repeat padding-box !important;
}
