@import '../../../../styles/core/variables';
.second-container{
  .control-icon{
    cursor: pointer;
  }
}
::ng-deep {
  .copy-icon{
    background-color: $purple;
    //padding: 5px 15px;
    border-radius: 0 8px 8px 0!important;
    height: 40px;
    width: 60px;
    margin-bottom: 0!important;
    button{
      width: 100%;
    }
    nz-text-copy{
      height: 100%;
      width: 100%;
      button{
        height: 40px!important;
      }
      svg{
        width: 18px!important;
        height: 18px!important;
      }

      img{
        width: 18px;
      }
    }
    .anticon{
      color: white!important;
    }
  }
}
